# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# virtual environment
venv/
.venv/
env/
ENV/

# distribution / build
build/
dist/
*.egg-info/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# VS Code
# ======================
.vscode/

# ======================
# Streamlit
# ======================
.streamlit/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log

# ======================
# Secrets / sensitive files
# ======================
.env
*.env

# ======================
# cache
# ======================
.cache/